#plansza 
{
	width: 90%; 
	margin-top: 40px; 
	margin-bottom: 40px; 
	text-align: center; 
	font-size: 24px; 
	min-height: 60px;
	font-family: 'Inconsolata', monospace;
	
	
}
#szubienica
{
	
	float: left; 
	width: 45%; 
	text-align: center; 
	min-height: 300px;
	
	
}

#alfabet

{
	
	width: 45%; 
	text-align: center; 
	min-height: 300px;
	float: left;
	
}

#pole1
{
	width: 20%;
	float: left;
	margin-top: 40px;
	padding: 10px;
	
}

#pole2
{
	margin-left: 20px;
	width: 20%;
	float: left;
	float: left;
	margin-top: 40px;
	padding: 10px;
}



.litera

{
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 2px;
	margin: 2px;
	border: 2px solid gray;
	border-radius: 8px;
	float: left;
	cursor: pointer;
	
}

.litera:hover
{
	background-color: #333;
	
	
}

.ui-btn:hover

{
	background-color: #008;
	
}


