#plansza 
{
	width: 90%; 
	margin-top: 40px; 
	margin-bottom: 40px; 
	text-align: center; 
	font-size: 24px; 
	min-height: 60px;
	font-family: 'Inconsolata', monospace;
	
	
}
#szubienica
{
	
	float: left; 
	width: 45%; 
	text-align: center; 
	min-height: 300px;
	
	
}

#alfabet

{
	
	width: 45%; 
	text-align: center; 
	min-height: 300px;
	float: left;
	
}


.litera

{
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 2px;
	margin: 2px;
	border: 2px solid gray;
	border-radius: 10px;
	float: left;
	
}