#plansza 
{
	width: 90%; 
	margin-top: 40px; 
	margin-bottom: 40px; 
	text-align: center; 
	font-size: 48px; 
	min-height: 60px;
	font-family: 'Inconsolata', monospace;
	
	
}
#szubienica
{
	
	float: left; 
	width: 45%; 
	text-align: center; 
	min-height: 300px;
	
	
}

#alfabet

{
	float: left; 
	width: 45%; 
	text-align: center; 
	min-height: 300px;
	
}


